body {
  background-color: #00487c;
  background-image: url(../img/back9.jpg);
  margin: 0px;
  
}

.left {
  display: inline;
  float: left;
}

#header1 {
  font-size: 60px;
  font-family: Trebuchet MS;
  color: white;
  margin-left: 20px;
}

#logo {
  /*width: 300px;*/
  height: 150px;
  margin-left: 150px;
  margin-top: 80px;
}

#header2 {
  font-size: 50px;
  margin-left: 120px;
  margin-top: -10px;
  color: white;
  font-family: Trebuchet MS;
}

#header3 {
  font-size: 25px;
  margin-left: 150px;
  margin-top: 10px;
  color: white;
  font-family: Trebuchet MS;
}

.right {
  float: right;
}

.button {
  margin-left: -500px;
  height: 100px;
  width: 300px;
  background-color: #0C090D;
  border-radius: 30px;
  font-size: 30px;
  font-family: Trebuchet MS;
  position: relative;
  z-index: 950;
}

.button:hover {
  box-shadow: 3px 3px #0E1C36;
  cursor: pointer;
  color: #AFCBFF;
}

.button:focus {
  outline: 0;
  -moz-outline: none;

}

button {
	margin-top: 28px;
}

.layer {
    background-color: rgba(248, 247, 216, 0.2);
    position: absolute;
    top: 80px;
    right: 75px;
    width: 40%;
    height: 70%;
	 box-shadow: 5px 0 5px -5px #333;
	 border-radius: 25px;
	 border-style: outset;
	 float: right;
	 z-index: 900;
	 
}
input[type=submit], input[type=reset]{
  width: 30%;
  background-color: #3D7AF5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-family: Trebuchet MS;
  font-size:15px;
  cursor: pointer;
  text-align:center;
}
input[type=submit]:hover {
  background-color: #adadad;
}
input[type='checkbox'] {
  width:27px;
  height:27px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}

.footer {
  background-color:#2a2b2b;
  padding: 10px;
  text-align: center;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
   
   
   

.checktext {
	margin-top: -8.5%;
	margin-left: 15%;
	font-family: Trebuchet MS;
}



/*Navigation bar styles*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0086bf;
  font-family:Trebuchet MS;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #adadad;
}


